
/* PETROBRAS theme */
:root {
    /* Cores Oficiais */
    --verde-pb: #008542;
    --amarelo-pb: #fdc82f;
    --azul-pb: #006298;
    /* Cores Apoio */
    --verde-agua: #00B2A9;
    --verde-claro: #A8B400;
    --amarelo-claro: #FEDF00;
    --laranja: #E17000;
    --cinza-escuro: #675C53;
    --cinza-claro: #BCBDBC;
    --azul-escuro: #004165;
    --azul-claro: #7D9AAA;
    /* Outras Cores */
    --cols-dest: #f7f7f7;
    --quase-preto: #3a3a3a;

    /* Gradiente Verde */
    --bg-g-verde-wk: -webkit-linear-gradient(left,  var(--verde-pb) 50%,var(--verde-claro) 100%);
    --bg-g-verde-lin: linear-gradient(to right,  var(--verde-pb) 50%,var(--verde-claro) 100%);
    /* Gradiente Amarelo */
    --bg-g-amarelo-wk: linear-gradient(to right, var(--amarelo-pb) 0%, var(--amarelo-claro) 100%);
    --bg-g-amarelo-lin: -webkit-linear-gradient(left,  var(--amarelo-pb) 0%,var(--amarelo-claro) 100%);
    /* Bordas especiais */
    --borda-pontilhada: 2px var(--cinza-claro) dotted;
    --borda-tracado: 1px var(--azul-claro) dashed;
    --borda-redonda: 8px;
    --borda-redonda-sup: 8px 8px 0 0;
    --borda-redonda-inf: 0 0 8px 8px;

    /* cores Ionic personalizadas */

    /* Azul Petro */
    --ion-color-azul: var(--azul-pb);
    --ion-color-azul-rgb: 0, 98, 152;
    --ion-color-azul-contrast: #ebebeb;
    --ion-color-azul-contrast-rgb: 235, 235, 235;
    --ion-color-azul-shade: var(--azul-escuro);
    --ion-color-azul-tint: #2375a1;
    /* Verde Claro */
    --ion-color-claro: var(--verde-claro);
    --ion-color-claro-rgb: 0, 178, 169;
    --ion-color-claro-contrast: #ffffff;
    --ion-color-claro-contrast-rgb: 255, 255, 255;
    --ion-color-claro-shade: #007e77;
    --ion-color-claro-tint: #50cac4;
    /* Laranja */
    --ion-color-laranja: var(--laranja);
    --ion-color-laranja-rgb: 225, 112, 0;
    --ion-color-laranja-contrast: #ffffff;
    --ion-color-laranja-contrast-rgb: 255, 255, 255;
    --ion-color-laranja-shade: #a05c18;
    --ion-color-laranja-tint: #e08932;
    /* Cinza (escuro) */
    --ion-color-cinza: var(--cinza-escuro);
    --ion-color-cinza-rgb: 103, 92, 83;
    --ion-color-cinza-contrast: #dadada;
    --ion-color-cinza-contrast-rgb: 218, 218, 218;
    --ion-color-cinza-shade: #3f3f3f;
    --ion-color-cinza-tint: #948a82;
    /* PBO (Azul-claro) */
    --ion-color-pbo: #43a6e3;
    --ion-color-pbo-rgb: 67,166,227;
    --ion-color-pbo-contrast: #b9def5;
    --ion-color-pbo-contrast-rgb: 185,222,245;
    --ion-color-pbo-shade: #496b80;
    --ion-color-pbo-tint: #2482bd;
    /* Var (verde hulk) */
    --ion-color-var: #58d844;
    --ion-color-var-rgb: 88,216,68;
    --ion-color-var-contrast: #c4fabb;
    --ion-color-var-contrast-rgb: 196,250,187;
    --ion-color-var-shade: #48883e;
    --ion-color-var-tint: #33ad20;
    /* ARO (salmão) */
    --ion-color-aro: #f7a985;
    --ion-color-aro-rgb: 247,169,133;
    --ion-color-aro-contrast: #ffe4d7;
    --ion-color-aro-contrast-rgb: 255,228,215;
    --ion-color-aro-shade: #a77c68;
    --ion-color-aro-tint: #d47b51;
    /* Resp (Verde água) */
    --ion-color-resp: var(--verde-agua);
    --ion-color-resp-rgb: 0,178,169;
    --ion-color-resp-contrast: #9ffcf7;
    --ion-color-resp-contrast-rgb: 159,252,247;
    --ion-color-resp-shade: #236461;
    --ion-color-resp-tint: #008d86;
}

.ion-color-azul {
    --ion-color-base: var(--azul-pb);
    --ion-color-base-rgb: 0, 98, 152;
    --ion-color-base-contrast: #ebebeb;
    --ion-color-base-contrast-rgb: 235, 235, 235;
    --ion-color-base-shade: var(--azul-escuro);
    --ion-color-base-tint: #2375a1;
}

.ion-color-claro {
    --ion-color-base: var(--verde-claro);
    --ion-color-base-rgb: 0, 178, 169;
    --ion-color-base-contrast: #ffffff;
    --ion-color-base-contrast-rgb: 255, 255, 255;
    --ion-color-base-shade: #007e77;
    --ion-color-base-tint: #50cac4;
}
.ion-color-laranja {
    --ion-color-base: var(--laranja);
    --ion-color-base-rgb: 225, 112, 0;
    --ion-color-base-contrast: #ffffff;
    --ion-color-base-contrast-rgb: 255, 255, 255;
    --ion-color-base-shade: #a05c18;
    --ion-color-base-tint: #e08932;
}
.ion-color-cinza {
    --ion-color-base: var(--cinza-escuro);
    --ion-color-base-rgb: 103, 92, 83;
    --ion-color-base-contrast: #dadada;
    --ion-color-base-contrast-rgb: 218, 218, 218;
    --ion-color-base-shade: #3f3f3f;
    --ion-color-base-tint: #948a82;
}
.ion-color-pbo {
    --ion-color-base: #43a6e3;
    --ion-color-base-rgb: 67,166,227;
    --ion-color-base-contrast: #b9def5;
    --ion-color-base-contrast-rgb: 185,222,245;
    --ion-color-base-shade: #496b80;
    --ion-color-base-tint: #2482bd;
}
.ion-color-var {
    --ion-color-base: #58d844;
    --ion-color-base-rgb: 88,216,68;
    --ion-color-base-contrast: #c4fabb;
    --ion-color-base-contrast-rgb: 196,250,187;
    --ion-color-base-shade: #48883e;
    --ion-color-base-tint: #33ad20;
}
.ion-color-aro {
    --ion-color-base: #f7a985;
    --ion-color-base-rgb: 247,169,133;
    --ion-color-base-contrast: #ffe4d7;
    --ion-color-base-contrast-rgb: 255,228,215;
    --ion-color-base-shade: #a77c68;
    --ion-color-base-tint: #d47b51;
}
.ion-color-resp {
    --ion-color-base: var(--verde-agua);
    --ion-color-base-rgb: 0,178,169;
    --ion-color-base-contrast: #9ffcf7;
    --ion-color-base-contrast-rgb: 159,252,247;
    --ion-color-base-shade: #236461;
    --ion-color-base-tint: #008d86;
}