/* PETROBRAS theme */
:root {
    /* Cores Oficiais */
    --verde-pb: #008542;
    --amarelo-pb: #fdc82f;
    --azul-pb: #006298;
    /* Cores Apoio */
    --verde-agua: #00B2A9;
    --verde-claro: #A8B400;
    --amarelo-claro: #FEDF00;
    --laranja: #E17000;
    --cinza-escuro: #675C53;
    --cinza-claro: #BCBDBC;
    --azul-escuro: #004165;
    --azul-claro: #7D9AAA;
    /* Outras Cores */
    // Destaque cinza para lista Preta e Branca
    --cols-dest: #f7f7f7;
    // Cinza para texto
    --quase-preto: #3a3a3a;

    /* Gradiente Verde */
    --bg-g-verde-wk: -webkit-linear-gradient(left,  var(--verde-pb) 50%,var(--verde-claro) 100%);
    --bg-g-verde-lin: linear-gradient(to right,  var(--verde-pb) 50%,var(--verde-claro) 100%);
    /* Gradiente Amarelo */
    --bg-g-amarelo-wk: -webkit-linear-gradient(left,  var(--amarelo-pb) 0%,var(--amarelo-claro) 100%);
    --bg-g-amarelo-lin: linear-gradient(to right, var(--amarelo-pb) 0%, var(--amarelo-claro) 100%);
    /* Bordas especiais */
    --borda-pontilhada: 2px var(--cinza-claro) dotted;
    --borda-tracado: 1px var(--azul-claro) dashed;
    --borda-redonda: 8px;
    --borda-redonda-sup: 8px 8px 0 0;
    --borda-redonda-inf: 0 0 8px 8px;

    /* cores Ionic personalizadas */

    /* Azul Petro */
    --ion-color-azul: var(--azul-pb);
    --ion-color-azul-rgb: 0, 98, 152;
    --ion-color-azul-contrast: #ebebeb;
    --ion-color-azul-contrast-rgb: 235, 235, 235;
    --ion-color-azul-shade: var(--azul-escuro);
    --ion-color-azul-tint: #2375a1;
    /* Verde Claro */
    --ion-color-claro: var(--verde-claro);
    --ion-color-claro-rgb: 168, 180, 0;
    --ion-color-claro-contrast: #d9e075;
    --ion-color-claro-contrast-rgb: 217, 224, 117;
    --ion-color-claro-shade: #757c17;
    --ion-color-claro-tint: #8f990a;
    /* Laranja */
    --ion-color-laranja: var(--laranja);
    --ion-color-laranja-rgb: 225, 112, 0;
    --ion-color-laranja-contrast: #ffffff;
    --ion-color-laranja-contrast-rgb: 255, 255, 255;
    --ion-color-laranja-shade: #a05c18;
    --ion-color-laranja-tint: #e08932;
    /* Cinza (escuro) */
    --ion-color-cinza: var(--cinza-escuro);
    --ion-color-cinza-rgb: 103, 92, 83;
    --ion-color-cinza-contrast: #dadada;
    --ion-color-cinza-contrast-rgb: 218, 218, 218;
    --ion-color-cinza-shade: #3f3f3f;
    --ion-color-cinza-tint: #948a82;
    /* Azul (claro) */
    --ion-color-azulclaro: #43a6e3;
    --ion-color-azulclaro-rgb: 67,166,227;
    --ion-color-azulclaro-contrast: #b9def5;
    --ion-color-azulclaro-contrast-rgb: 185,222,245;
    --ion-color-azulclaro-shade: #496b80;
    --ion-color-azulclaro-tint: #2482bd;
    /* Verde (fosforescente) */
    --ion-color-verdefos: #58d844;
    --ion-color-verdefos-rgb: 88,216,68;
    --ion-color-verdefos-contrast: #c4fabb;
    --ion-color-verdefos-contrast-rgb: 196,250,187;
    --ion-color-verdefos-shade: #48883e;
    --ion-color-verdefos-tint: #33ad20;
    /* Rosa (salmao) */
    --ion-color-salmao: #f7a985;
    --ion-color-salmao-rgb: 247,169,133;
    --ion-color-salmao-contrast: #ffe4d7;
    --ion-color-salmao-contrast-rgb: 255,228,215;
    --ion-color-salmao-shade: #a77c68;
    --ion-color-salmao-tint: #d47b51;
    /* Verde (agua) */
    --ion-color-verdeagua: var(--verde-agua);
    --ion-color-verdeagua-rgb: 0,178,169;
    --ion-color-verdeagua-contrast: #9ffcf7;
    --ion-color-verdeagua-contrast-rgb: 159,252,247;
    --ion-color-verdeagua-shade: #236461;
    --ion-color-verdeagua-tint: #008d86;
    /* Verde (Musgo) */
    --ion-color-verdemusgo: #129c50;
    --ion-color-verdemusgo-rgb: 18, 156, 80;
    --ion-color-verdemusgo-contrast: #37ec7c;
    --ion-color-verdemusgo-contrast-rgb: 55, 236, 124;
    --ion-color-verdemusgo-shade: #086934;
    --ion-color-verdemusgo-tint: #009643;
    /* Purpura */
    --ion-color-purpura: #c630af;
    --ion-color-purpura-rgb: 198, 48, 175;
    --ion-color-purpura-contrast: #ff96f9;
    --ion-color-purpura-contrast-rgb: 255, 150, 249;
    --ion-color-purpura-shade: #832074;
    --ion-color-purpura-tint: #ad1597;
}

.ion-color-azul {
    --ion-color-base: var(--azul-pb);
    --ion-color-base-rgb: 0, 98, 152;
    --ion-color-base-contrast: #ebebeb;
    --ion-color-base-contrast-rgb: 235, 235, 235;
    --ion-color-base-shade: var(--azul-escuro);
    --ion-color-base-tint: #2375a1;
}

.ion-color-claro {
    --ion-color-base: var(--verde-claro);
    --ion-color-base-rgb: 168, 180, 0;
    --ion-color-base-contrast: #d9e075;
    --ion-color-base-contrast-rgb: 217, 224, 117;
    --ion-color-base-shade: #757c17;
    --ion-color-base-tint: #8f990a;
}
.ion-color-laranja {
    --ion-color-base: var(--laranja);
    --ion-color-base-rgb: 225, 112, 0;
    --ion-color-base-contrast: #ffffff;
    --ion-color-base-contrast-rgb: 255, 255, 255;
    --ion-color-base-shade: #a05c18;
    --ion-color-base-tint: #e08932;
}
.ion-color-cinza {
    --ion-color-base: var(--cinza-escuro);
    --ion-color-base-rgb: 103, 92, 83;
    --ion-color-base-contrast: #dadada;
    --ion-color-base-contrast-rgb: 218, 218, 218;
    --ion-color-base-shade: #3f3f3f;
    --ion-color-base-tint: #948a82;
}
.ion-color-azulclaro {
    --ion-color-base: #43a6e3;
    --ion-color-base-rgb: 67,166,227;
    --ion-color-base-contrast: #b9def5;
    --ion-color-base-contrast-rgb: 185,222,245;
    --ion-color-base-shade: #496b80;
    --ion-color-base-tint: #2482bd;
}
.ion-color-verdefos {
    --ion-color-base: #58d844;
    --ion-color-base-rgb: 88,216,68;
    --ion-color-base-contrast: #c4fabb;
    --ion-color-base-contrast-rgb: 196,250,187;
    --ion-color-base-shade: #48883e;
    --ion-color-base-tint: #33ad20;
}
.ion-color-salmao {
    --ion-color-base: #f7a985;
    --ion-color-base-rgb: 247,169,133;
    --ion-color-base-contrast: #ffe4d7;
    --ion-color-base-contrast-rgb: 255,228,215;
    --ion-color-base-shade: #a77c68;
    --ion-color-base-tint: #d47b51;
}
.ion-color-verdeagua {
    --ion-color-base: var(--verde-agua);
    --ion-color-base-rgb: 0,178,169;
    --ion-color-base-contrast: #9ffcf7;
    --ion-color-base-contrast-rgb: 159,252,247;
    --ion-color-base-shade: #236461;
    --ion-color-base-tint: #008d86;
}
.ion-color-verdemusgo {
    --ion-color-base: #129c50;
    --ion-color-base-rgb: 18, 156, 80;
    --ion-color-base-contrast: #37ec7c;
    --ion-color-base-contrast-rgb: 55, 236, 124;
    --ion-color-base-shade: #086934;
    --ion-color-base-tint: #009643;
}
.ion-color-purpura {
    --ion-color-base: #c630af;
    --ion-color-base-rgb: 198, 48, 175;
    --ion-color-base-contrast: #ff96f9;
    --ion-color-base-contrast-rgb: 255, 150, 249;
    --ion-color-base-shade: #832074;
    --ion-color-base-tint: #ad1597;
}
